<!-- base.html 상속 -->
{% extends 'base.html' %}
{% block content %}

<!-- question_list.html에서만 사용할 내용 작성 -->
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
            <!-- 현재 조회된 질문목록 데이터 가져오기 위해 question_list.items 호출 -->
            {% for question in question_list.items %}
            <tr class="text-center">
                <!-- 게시물 번호 공식 적용. -->
                <!-- 번호 = 전체 게시물 개수 - (현재 페이지 - 1) * 페이지당 게시물 개수 - 나열 인덱스 -->
                <td>{{ question_list.total - ((question_list.page-1) * question_list.per_page) - loop.index0 }}</td>
                <td class="text-left">
                    <a href="{{url_for('question.detail', question_id=question.id)}}">
                        {{question.subject}}
                    </a>

                    <!-- 게시물 제목 오른쪽에 답변 개수 표시하기 -->
                    {% if question.answer_set|length > 0 %}
                    <span class="text-danger small ml-2">{{ question.answer_set|length }}</span>
                    {% endif %}
                </td>
                <td>{{ question.user.username }}</td>   <!-- 글쓴이 추가 -->
                <!-- datetime 필터 적용. __init__의 app.jinja_env.filters['datetime']에 의해 format_datetime 필터 함수 실행됨 -->
                <td>{{question.create_date|datetime}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if question_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트를 돌면서 해당 페이지로 이동할 수 있는 링크 생성 -->
        {% for page_num in question_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != question_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <!-- active로 현재 위치한 페이지 강조 -->
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝~ -->

    <a href = "{{ url_for('question.create') }}" class="btn btn-primary">질문 등록하기</a>
</div>

{% endblock %}